<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bilhetador Estaleiro - API OS</title>
</head>
<body>
    <div class="card text-center">
        <div class="card-header">
          <h1>Bilhetador Estaleiro - API OS</h1>
        </div>
        <div class="card-body">
             API Openstack (Trove)
            <br>Frontend: <a href="http://custos.estaleiro.serpro.gov.br">http://custos.estaleiro.serpro.gov.br</a>
        </div>
        <div class="card-footer text-muted">
            Powered by Aiohttp
        </div>
      </div>
</body>
</html>